html, body * {
  font-feature-settings: "litr" 0, "ss01" 1;
}

.card.elos {
    background-color: #446e9b;
    text-align:center;
    padding: 44px 0;
    border: 0;
}

.readmore {
    text-align: right;
}
